:host {
  --avatar-size: 32px;
  --sans-font: "Jost", sans-serif;
  --sans-font-size: 1.2rem;
  --sans-font-weight: 500;
  --pixel-font: "EnterCommand", monospace;
  --pixel-font-size: 1.8rem;

  font-family: var(--sans-font);
  font-size: var(--sans-font-size);
  font-weight: var(--sans-font-weight);
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns: calc(var(--avatar-size) * 1.5) 1fr;
  background: linear-gradient(to right, #000d, #000f, #000d 98%, var(--nick-color, #000) 98% 100%);
  margin: 8px 0;
  padding: 10px 5px;
  box-shadow: var(--shadow, 0 0 0 3px #000e);
  transition:
    opacity 0.2s,
    transform 0.2s;
  will-change: opacity, transform;
  opacity: 100%;
  transform: translateX(-2px);
  position: relative;
}

:host(.first) .container {
  --shadow: 0 0 4px 2px gold;
}

:host(.off) .container {
  opacity: 100%;
  transform: translateX(400px);
}

:host(.fadeout) .container {
  opacity: 0%;
}

.user-info {
  --avatar-size: 52px;

  display: grid;
  justify-content: center;
  width: var(--avatar-size);
  height: var(--avatar-size);
  box-sizing: border-box;
  background: var(--nick-color) linear-gradient(150deg, transparent, #0008);
  border-radius: 50%;
  transform: translateX(-30px) rotate(-6deg);
}

.user-info img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  border: 3px solid var(--border-color, #fff);
}

.user-message {
  padding: 5px 10px;
  transform: translateX(-20px);
}

.nick {
  font-family: var(--pixel-font);
  font-size: var(--pixel-font-size);
  text-shadow: 1px 1px 0 #000;
  font-weight: bold;
  color: #fff;
}

.reply {
  margin: 0;
  color: #aaa;
  font-size: 0.8rem;
}

.reply span {
  color: gold;
}
